* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        45deg, #c6d400 0%, #00ce2d 50%, #0074f8 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.relogio {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.relogio::after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 11;
    background-color: black;
    transform: translate(-50%, -50%);
}

.relogio .numero {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 40px;
    font-weight: 500;
    padding: 10px;
    color: black;
}

.relogio .numero.numero-1 {
    left: 100px;
    top: 30px
}
.relogio .numero.numero-2 {
    left: 180px;
    top: 110px;
}
.relogio .numero.numero-3 {
    left: 210px;
    top: 210px;
}
.relogio .numero.numero-4 {
    left: 180px;
    top: 310px;
}
.relogio .numero.numero-5 {
    left: 110px;
    top: 390px;
}
.relogio .numero.numero-6 {
    top: 420px;
}
.relogio .numero.numero-7 {
    right: 110px;
    top: 390px;
}
.relogio .numero.numero-8 {
    right: 180px;
    top: 310px;
}
.relogio .numero.numero-9 {
    right: 210px;
    top: 210px;
}
.relogio .numero.numero-10 {
    right: 180px;
    top: 110px;
}
.relogio .numero.numero-11 {
    top: 30px;
    right: 100px;
}

.ponteiro {
    --rotation: 00;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.segundos {
    width: 3px;
    height: 40%;
    background-color: red;
}

.minutos {
    width: 7px;
    height: 35%;
    background-color: black;
}

.horas {
    width: 10px;
    height: 25%;
    background-color: black;
}